profiles {
  docker {
    docker.temp = "auto"
    docker.enabled = true
    process {
      withName: fastqc_fastq {
        container = "quay.io/biocontainers/fastqc:0.11.9--0"
        cpus = 1
      }
    }
  }
  singularity {
    singularity.enabled = true
    singularity.cacheDir = "./bin/"
    process {
      withName: fastqc_fastq {
        cpus = 1
        container = "quay.io/biocontainers/fastqc:0.11.9--0"
      }
    }
  }
}